#deviceHolder {
  padding: 5px;
  background-color: aquamarine;
}

#devices {
  display: flex;
  flex-direction: column;
}

#deviceHolderActive {
  padding: 5px;
  background-color: rgb(255, 88, 88);
}

#artwork {
  max-width: fit-content;
}

#nowPlaying {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
}

#login {
  background-color: black;
  border-radius: 5px;
  color: white;
  margin: 5px;
  padding:5px;
  width: fit-content;
}