#deviceHolder {
  padding: 5px;
  background-color: #333;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  cursor: pointer;
}

#deviceHolderActive {
  padding: 5px;
  background-color: #1DB954;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  cursor: pointer;
}

#devices {
  display: flex;
  flex-direction: column;
}


#artwork {
  max-width: fit-content;
}

#nowPlaying {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
}

#login {
  background-color: black;
  border-radius: 5px;
  color: white;
  margin: 5px;
  padding:5px;
  width: fit-content;
}

#artworkHolder {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: white;
}

#time {
  height: 5px;
  background-color: #1DB954;
}

#profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #000000;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}